{% extends 'base.html' %}
{% block title %}Home Page{% endblock %}
{% block body %}
<!--video posts -->
{% for post in posts %}
<div class="container my-4 alert alert-success"> 
    <div class="card">
        {% if request.session.user %}
            <h5 class="card-header">By <a style="text-decoration:none; color:#DC3545;" href="{% url 'profile' post.user.username %}">{{post.user}}</a></h5>
        {% else %}
            <h5 class="card-header">By <a style="text-decoration:none; color:#DC3545;">IDK</a></h5>
        {% endif %}
        <div class="card-body">
            {% if request.session.user %}
                <h5 class="card-title">{{post.title}}</h5>
                <p class="card-text">{{post.desc}}</p>
                <a href="{{MEDIA_URL}}{{post.file_field.url}}" class="btn btn-warning" target="_blank">View</a>
                <a href="{{MEDIA_URL}}{{post.file_field.url}}" class="btn btn-info mx-4" download>Download</a>
            {% else %}
                <h5 class="card-title">You Have To Login Before see this title.</h5>
                <p class="card-text">You Have To Login Before see this description.</p>
                <a href="#">You Have To Login Before Download this File.</a>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}